{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-color-whitelist"],

  "rules": {
    "color/whitelist": {
      "colors": ["#FFFFFF", "#dedede", "#000000", "#a60000", "#da0000"]
    }
  }
}